@import "../../../../global.scss";

.contact {
  margin: 10rem 0;
  .contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 40px 20px;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      height: 100%;

      input {
        width: 100%;
        margin: 10px 0;
        outline: none;
        border: none;
        border-left: 1px solid $maincolor;
        border-right: 1px solid $maincolor;
        border-radius: 3px;
        padding-left: 4px;

        &:hover {
          border-left: 2px solid $maincolor;
          border-right: 2px solid $maincolor;
        }
      }

      button[type="submit"] {
        padding: 10px 5px;
        cursor: pointer;
        margin: 5px 0;
        outline: none;
        border: none;
        background-color: $maincolor;
        color: white;
        width: 20%;
        transition: all 0.5s ease-in-out;

        &:hover {
          width: 100%;
        }
      }

      textarea {
        width: 100%;
        border-radius: 3px;
        padding-left: 4px;
        border: none;
        border-left: 1px solid $maincolor;
        border-right: 1px solid $maincolor;
        outline: none;
        resize: none;

        &:hover {
          border-left: 2px solid $maincolor;
          border-right: 2px solid $maincolor;
        }
      }
    }
  }
}
