@import "../../../../global.scss";

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .projects-wrapper {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
