@import "../../../../global.scss";

.project {
  background: white;
  border-top: none;
  border-right: none;
  border-radius: 3px;
  padding: 15px;
  margin: 20px 0;
  width: 600px;
  height: 100%;
  color: $maincolor;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.2s ease-in-out;

  h2 {
    margin: 0;
    font-weight: 700;
  }

  p {
    margin: 0;
    padding: 5px 15px;
  }

  .project-image {
    position: relative;
    bottom: 0;
    justify-self: flex-end;
    margin: auto 0 0 0;

    img {
      width: 100%;
      object-fit: cover;
      margin: 10px 0 0 0;
    }
  }

  .project-buttons {
    display: flex;
    justify-content: space-around;

    a {
      text-align: center;
      width: 50%;
      background-color: white;
      padding: 5px 10px;
      margin: 15px 10px 5px 10px;
      border-left: 1px solid $maincolor;
      border-right: 1px solid $maincolor;
      border-radius: 3px;
      transition: all 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $secondcolor;
        color: #ffffff;
      }
    }
  }
}
