@import "../../../global.scss";

.header {
  h2 {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
  }
}

.home {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 100%;
    height: 100vh;

    .text-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .name {
        display: flex;
        justify-content: center;

        p {
          width: 5auto;
          text-align: center;
          margin: 4px;
          font-size: 80px;
        }

        p:first-child {
          font-weight: 300;
          color: $maincolor;
        }

        p:last-child {
          font-weight: 700;
        }
      }

      .job-title {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-top: 1px solid black;
        position: relative;
        top: -10px;
        color: $maincolor;
        padding: 10px 0;
        font-size: 30px;
        box-sizing: border-box;
      }
    }
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #tsparticles {
    z-index: -1;
  }
}

// .skills {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   user-select: none;

//   .wrapper {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     padding: 10px;
//     width: 60%;
//     border-radius: 5px;

//     transition: all 0.2s ease-in;

//     .skill {
//       color: black;
//       background-color: rgba(153, 153, 153, 0.589);
//       text-align: center;
//       display: flex;
//       justify-content: flex-start;
//       align-items: center;
//       border-bottom: 1px solid #7f7f7f62;
//       margin: 8px 0;
//       cursor: pointer;
//       border-radius: 8px;
//       transition: all 0.1s ease-in;

//       &:hover {
//         box-shadow: 0px 3px 3px #7f7f7f4d;

//         h3 {
//           transition: all 0.1s ease-in;
//           font-weight: 700;
//         }

//         .progressbar {
//           transition: all 0.1s ease-in;
//           height: 15px;
//         }
//       }

//       h3 {
//         transition: all 0.1s ease-in;
//         width: 120px;
//         font-weight: 400;
//       }

//       .progressbar {
//         max-width: 100%;
//         height: 8px;
//         border-radius: 5px;
//         background: linear-gradient(
//           90deg,
//           rgb(255, 255, 255) 0%,
//           rgb(168, 230, 255) 25%,
//           rgb(116, 216, 255) 100%
//         );
//         box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.26);
//       }
//     }
//   }
// }
