@import "../../../../../global.scss";

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2px;
  user-select: none;
  height: 100%;
  width: 100%;
  position: absolute;

  h2 {
    margin: 15px 0;
  }

  .skills-item {
    display: flex;
    align-items: center;

    h2 {
      margin: 10px 7px;
    }

    .skill-item-decl {
      color: #27e777;
    }

    .skill-item-variable {
      border: 1px solid #00000000;
      color: $maincolor;

      &:hover {
        border: 1px solid #000000;
        box-sizing: border-box;
      }
    }

    .skill-item-operator {
      color: #7f7f7f;
    }

    .skill-item-bracket {
      color: #000000;
    }

    .skill-item-string {
      border: 1px solid #00000000;
      color: #27e777;

      &:hover {
        border: 1px solid #000000;
        box-sizing: border-box;
      }
    }
  }

  div:not(:first-child):not(:last-child) {
    position: relative;
    left: 70px;
  }
}
